@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #545454;
}
body{
    height: 100%;
    padding: 0px;
    margin: 0px;
}

h1 h2 h3 h4 p span li a {
    
}

.bookContainer{
    height:80vh;
    width:95%;
    margin:auto;
   
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}

.bookContainer aside{
    width:42.5%;
    background:#f8eadd;
    border-radius:20px;
    padding:20px 30px;
flex-grow:1;
margin:20px 10px;
}

.bookContainer aside p{
    line-height:21px;
}

.floating-toolbar{
    background:#ffd9d9;
}

.floating-toolbar-close{
    background:#ffd9d9;

}

.modal-content-reed{
    background:#daa4a4;

}

.btn-submit-reed{
    background:#000;
}
.hover-card{
    background:#f2dfce;

}

.center{
    text-align:center;
    font-size:36px;
    font-weight:300;
    margin-bottom:4px;
}

.small{
    font-size:16px;
    text-align:center;
display:block;
margin-bottom:40px;
}