

.bookInfo {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    color: aliceblue;
}   
.bookImage{
    height: 350px;
}

@media screen and (max-width: 768px) {
    .bookInfo h3{
        font-size: 8px;
    }
    .bookImage{
        height: 135px;
    }

    .bookInfo p{
        font-size: 6px;
    }
  }